
  
  
  
  
  /* integrantes*/
  
  
  
  .galeria_imagenes01{
  width: 370px;
  margin-left: 100px;
  }
  .galeria_imagenes02{
  width: 370px;
  margin-left: 475px;
  margin-top: -215px;
  
  
  }
  .galeria_imagenes03{
    width: 370px;
    margin-left: 850px;
    margin-top: -145px;
  
  }
  .caja2_redes{
    margin-bottom: 140px;
    margin-left: 120px;
    width: 600px;
    
  }
  .caja2_redes li{
    float: left;
    width: 120px;
    list-style: none;
  }
  .caja2_redes img{
    width: 20px;
    height: 20px;
  }
  .caja2_redes a{
    text-decoration: none;
  } 
  
  /* galeria imagenes */
  #galeria  .col-lg-4{
    margin: 0;
    padding: 25px;
    
  }
  
  #galeria img{
    width: 100%;
    height: 300px;
    width: 300px;
    margin-top: 110px;
    
  }
  #galeria img:hover{
    border-radius: 100%;
    border: 3px solid yellow;
    
  }
  
  .caja3_redes{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
  }
  .caja3_redes li{
    width: 100px;
    height: 20px;
    float: left;
    list-style: none;
    
  }
  .caja3_redes img{
    width: 20px;
    height: 20px;
    margin-left: 2%;    
  }
  .caja3_redes a{
    text-decoration: none;
    color: black;
  }
  
  /* Albunes De Estudio*/
  
  .albunes h2{
    padding-left: 500px;
  }
  .albunes img{
    width: 500px;
    height: 400px;
    padding-left: 400px;
  }
  .albunes p{
    font-size: medium;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }
  
  /*Historia*/
  
  .text h2{
  padding-left: 600px;
  }
  .text_1 img{
    padding-left: 400px;
    width: 600px;
    height: 400px;
    
  }
  .text h3{
    padding-left: 500px;
  }
  /*media querys*/
  @media (max-width:320px) {
  .header{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    line-height: 250px;
  }
  .header .header__lista {
    height: 400px;
    
  }
  .header__lista li{
  margin: 30px;
  height: 1px;
  
  }
  .header__lista li a{
  font-size: 14px;
  
  }
  .redes_sociales{
  display: flex;
  flex-direction: column;
  }
  .redes_sociales .caja1_redes li a{
  font-size: 20px;
  }
  }