* {
  margin: 0 auto;
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .header {
    display: flex;
    position: absolute;
    height: 150px;
  }
  .header .header__logo {
    display: none;
  }
  .header .header__lista {
    height: 500px;
    margin-left: 40px;
  }
  .header .header__lista li {
    margin: 2px;
    padding: 2px;
    height: 50px;
  }
  .header .header__lista li a {
    font-size: 15px;
    color: yellow;
  }
  .caja h1 {
    display: none;
  }
  .caja_texto {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: 100px;
    font-size: 10px;
    width: 300px;
  }
  .caja_texto b {
    padding-left: 300px;
    font-size: 20px;
  }
  .albunes .card {
    margin-left: 0;
  }
}
@media only screen and ( min-width: 850px ) and ( max-width: 1023px ) {
  body {
    width: 75%;
  }
  .header {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header__img-logo {
    position: relative;
    top: 0;
  }
  .header .header__lista {
    padding-right: 80px;
  }
  .header .header__lista li {
    max-width: 90%;
    margin: 10px;
  }
  .header .header__lista a {
    font-size: 12px;
    color: yellow;
  }
  .caja {
    display: flex;
  }
  .caja .caja_titulo {
    background-image: url(/asset/nirvana_album2.png);
    padding-left: 150px;
  }
  .caja .caja_texto {
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 550px;
  }
  .caja .caja_texto b {
    padding-left: 300px;
  }
  .redes_sociales {
    display: flex;
    padding-right: 100px;
  }
  .redes_sociales ul {
    width: 100%;
    padding-left: 10px;
    margin: 0;
  }
  .redes_sociales ul li {
    margin: 0;
  }
}
.header {
  width: 100%;
  height: 105px;
  float: right;
  box-shadow: 0 0 10px 1px rgb(240, 235, 235);
  border-bottom: 4px solid grey;
  background-color: #000000;
  position: fixed;
}
.header .header__logo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  float: left;
}
.header ul {
  margin: auto;
  height: 110px;
}
.header li {
  float: left;
  line-height: 120px;
  margin-left: 130px;
  list-style: none;
}
.header a {
  text-decoration: none;
  color: rgb(244, 239, 239);
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Nosifer", sans-serif;
  transition: 2s;
}
.header a:hover {
  color: yellow;
  font-size: 15px;
}

.caja {
  background-color: #000000;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  text-align: justify;
}
.caja .caja_titulo {
  background-image: url(../asset/image\ _nir.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 700px;
  padding-left: 500px;
  color: yellow;
  font-size: 50px;
  margin-top: 5px;
}
.caja div {
  padding: 5px;
}
.caja b {
  padding-right: 350px;
  color: yellow;
}

.redes_sociales {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}
.redes_sociales li {
  float: left;
  padding-left: 30px;
  list-style: none;
  margin-right: 50px;
}
.redes_sociales a {
  text-decoration: none;
  color: yellow;
  transition: 2s;
}
.redes_sociales a:hover {
  transform: scale(1.2);
  color: rgb(237, 231, 231);
  font-size: 10px;
}
.redes_sociales img {
  height: 25px;
  width: 25px;
  border-radius: 90%;
}

#galeria {
  max-width: 100%;
  background-color: orange;
}
#galeria .col-lg-4 {
  margin: 0;
  padding: 25px;
  max-width: 100%;
}
#galeria .col-lg-4 img {
  width: 100%;
  height: 300px;
  width: 300px;
  margin-top: 110px;
  transition: 2s;
}
#galeria .col-lg-4 img:hover {
  border-radius: 100%;
  -webkit-box-shadow: 4px 4px 4px 5px rgba(236, 239, 236, 0.5803921569);
}

h2 {
  padding-top: 150px;
  text-align: center;
  display: block;
  color: rgb(178, 228, 11);
}

div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
div p {
  color: rgb(11, 1, 1);
  transition: 2s;
}
div p:hover {
  font-size: 16px;
  color: white;
}

.galeria_contenedor-imagenes3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galeria_contenedor-imagenes3 img {
  width: 350px;
  height: 350px;
  margin: 20px;
  transition: 3s;
}
.galeria_contenedor-imagenes3 img:hover {
  border-radius: 20%;
  -webkit-box-shadow: 4px 4px 4px 5px rgba(129, 245, 111, 0.5803921569);
}

.galeria_contenedor-imagenes4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.galeria_contenedor-imagenes4 p {
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
  transition: 2s;
}
.galeria_contenedor-imagenes4 p:hover {
  color: yellow;
}
.galeria_contenedor-imagenes4 .galeria_imagenes01, .galeria_contenedor-imagenes4 .galeria_imagenes02, .galeria_contenedor-imagenes4 .galeria_contenedor-imagenes3 img:hover, .galeria_contenedor-imagenes3 .galeria_contenedor-imagenes4 img:hover {
  width: 350px;
  margin-right: 40px;
}
.galeria_contenedor-imagenes4 .galeria_imagenes03 {
  width: 350px;
}

footer {
  display: flex;
}
footer a {
  margin: 10px;
}
footer img {
  position: absolute;
}

.albunes h2 {
  color: white;
}
.albunes .card {
  background-color: black;
  position: static;
  margin-left: 300px;
  border: 5px solid yellow;
}
.albunes .card .card-text {
  color: white;
  text-align: justify;
}

.text_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text_1 img {
  width: 800px;
  border-radius: 2%;
  transition: 1s;
}
.text_1 img:hover {
  width: 600px;
  height: 600px;
}
.text_1 p {
  text-align: justify;
  font-weight: 50px;
  color: #09090a;
}

@media screen and (max-width: 320px) {
  .header {
    display: flex;
    position: absolute;
    height: 150px;
  }
  .header .header__logo {
    display: none;
  }
  .header .header__lista {
    height: 500px;
    margin-left: 40px;
  }
  .header .header__lista li {
    margin: 2px;
    padding: 2px;
    height: 50px;
  }
  .header .header__lista li a {
    font-size: 15px;
    color: yellow;
  }
  .caja h1 {
    display: none;
  }
  .caja_texto {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: 100px;
    font-size: 10px;
    width: 300px;
  }
  .caja_texto b {
    padding-left: 300px;
    font-size: 20px;
  }
  .albunes .card {
    margin-left: 0;
  }
}
@media only screen and ( min-width: 850px ) and ( max-width: 1023px ) {
  body {
    width: 75%;
  }
  .header {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header__img-logo {
    position: relative;
    top: 0;
  }
  .header .header__lista {
    padding-right: 80px;
  }
  .header .header__lista li {
    max-width: 90%;
    margin: 10px;
  }
  .header .header__lista a {
    font-size: 12px;
    color: yellow;
  }
  .caja {
    display: flex;
  }
  .caja .caja_titulo {
    background-image: url(/asset/nirvana_album2.png);
    padding-left: 150px;
  }
  .caja .caja_texto {
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 550px;
  }
  .caja .caja_texto b {
    padding-left: 300px;
  }
  .redes_sociales {
    display: flex;
    padding-right: 100px;
  }
  .redes_sociales ul {
    width: 100%;
    padding-left: 10px;
    margin: 0;
  }
  .redes_sociales ul li {
    margin: 0;
  }
}
.header {
  background-image: linear-gradient(90deg, rgb(18, 8, 0) 0%, rgba(42, 40, 2, 0.516) 4%, rgb(0, 212, 255) 100%);
}

.caja {
  background-image: linear-gradient(90deg, rgb(228, 112, 16) 0%, rgba(121, 114, 9, 0.5158438375) 23%, rgb(108, 113, 113) 100%);
}

.redes_sociales {
  background-image: linear-gradient(90deg, rgb(196, 92, 7) 0%, rgba(229, 215, 12, 0.516) 4%, rgb(0, 212, 255) 100%);
}

.galeria {
  background-image: radial-gradient(circle, #e47010, #797209, #6c7171);
}

#galeria {
  background-image: linear-gradient(90deg, rgb(228, 16, 63) 0%, rgba(121, 114, 9, 0.8323704482) 78%, rgb(108, 113, 113) 100%);
}

.albunes {
  background-image: radial-gradient(circle, #191918, #18edc7, #060606);
}

.text {
  background-image: linear-gradient(90deg, rgb(190, 190, 174) 0%, rgba(88, 108, 105, 0.8323704482) 78%, rgb(156, 29, 29) 100%);
}

/*# sourceMappingURL=styles.css.map */
