.albunes{

    h2{
        color:white;
        
    }
  
.card{
    background-color: black;
    position: static;
    margin-left: 300px;
    border: 5px solid $color-yellow;
    
.card-text{
    color: white;
    text-align: justify;
}
    
}
   
}